doctype html
html
	head
		block meta
			meta(charset='utf-8')
			title= title || 'Hello World!'
			meta(name='viewport', content='initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no')
			link(rel='stylesheet', href='/public/lib/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='/public/lib/bootstrap/dist/css/bootstrap-theme.min.css')
			script(src='/public/lib/jquery/dist/jquery.min.js')
			script(src='/public/lib/bootstrap/dist/js/bootstrap.min.js')
	body
		block header
			include header
		.container-fluid
			#div
				= JSON.stringify(flash())
			block content


