nav.navbar.navbar-default
	.container-fluid

		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header-menu', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Revolt

		#header-menu.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='/registration')
						| Registration
				li
					a(href='#') Link
				li
					form(action='/i18n/select', method='POST')
						!= resolveForm('core/forms/locale').render()
						button Submit
			if user
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Link
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
							= user.get('local.username')
							span.caret
						ul.dropdown-menu
							li
								a(href='/user/logout') Logout
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='/auth/logout') Logout
			else
				form.navbar-form.navbar-left(role='login', method='POST', action='/auth/login')
					!= resolveForm('core/forms/login.header').render()
					button.btn.btn-default(type='submit') Submit
