extends ../layout

block content
	= JSON.stringify(user.toJSON('*'))
	h1 2nd factor is &nbsp;
		if user.totpKey()
			| enabled
		else
			| disabled
	if user.totpKey()
		a(href='/totp/disable') Disable
	else
		a(href='/totp/setup') Setup
