extends ../layout

block content
	h1 2nd factor is &nbsp;
		if user.totp.enabled
			| enabled
		else
			| disabled
	if user.totp.enabled
		a(href='/totp/disable') Disable
	else
		a(href='/totp/setup') Setup
		a(href='/totp/enable') Enable
