extends /layout
block content
	.row
		.col-md-4.col-md-offset-4
			.login-panel.panel.panel-default
				.panel-heading
					h3.panel-title New Media Item #{request.app.path()}
				.panel-body
					form(method='POST', action='/media/create')
						fieldset
							!= (form || resolveForm('fireblast-media', 'add.item')).render()
							button.btn.btn-lg.btn-success.btn-block Do
